<!DOCTYPE html>
  <head>
    <title>Summer Research [RF]</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
  </head>
  <body>
    <div align="right"><h1>Branch Line Coupler in 5.8GHz</h1></div>
    <div align="left"><a href="https://chanhi2000.github.io/template/index.html"><p>go back</p></a></div>
    <br><br>
    <div align="center">
        <h2>Schematic -> Layout</h2>
        <img src="https://docs.google.com/drawings/d/1okAqA6pZY1jMK2NZHLw9HlkMxgflLBlPWlHa5j2dnww/pub?w=611&amp;h=315">
    </div>
    <div>
        <h2>S-Parameters</h2>
        <div>
            <form name="myform">
            <select name="pickone">
                <option value="1">er=2.33, h=3.175 mm</option>
                <option value="2">er=2.33, h=1.6 mm</option>
                <option value="3">er=2.33, h=0.508 mm</option>
                <option value="4">er=4.6, h=3.175mm </option>
                <option value="5">er=4.6, h=1.6 mm </option>
                <option value="6">er=4.6, h=0.508mm </option>
                <option value="7">er=6.3, h=3.175 mm </option>
                <option value="8">er=6.3, h=1.6</option>
                <option value="9">er=6.3, h=0.508</option>
            </select>
        </div>
        <table>
            <thead>
                <tr>
                    <td class="paramtable">Metrics</td>
                    <td>S-parameters</td>
                    <td>S11, S13 [dB]</td>
                    <td>S12, S14 [dB]</td>
                    <td>S12, S14 [deg]</td>
                    <td>Ph. Diff [deg]</td>
                </tr>
            </thead>
            <!-- er=2.33, h=3.175 -->
            <tbody>
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = mm</li>
                            <li>W2 = mm</li>
                            <li>W3 = mm</li>
                            <li>L1 = mm</li>
                            <li>L2 = mm</li>
                            <li>L3 = mm</li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=631984622&format=image"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=28832574&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1953874799&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=115038608&format=image"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=2057347001&format=image"></iframe>
                        </div>
                    </td>
                </tr>
               <!-- er=2.33, h=1.6 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = mm</li>
                            <li>W2 = mm</li>
                            <li>W3 = mm</li>
                            <li>L1 = mm</li>
                            <li>L2 = mm</li>
                            <li>L3 = mm</li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=396561800&format=image"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=2042591380&format=image"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1528130293&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1821565893&format=image"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1560187355&format=interactive"></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=2.33, h=0.508 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = mm</li>
                            <li>W2 = mm</li>
                            <li>W3 = mm</li>
                            <li>L1 = mm</li>
                            <li>L2 = mm</li>
                            <li>L3 = mm</li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1572089428&format=image"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=2097021046&format=image"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1966312046&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=230416729&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1138618466&format=interactive"></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=4.6, h=3.175 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = mm</li>
                            <li>W2 = mm</li>
                            <li>W3 = mm</li>
                            <li>L1 = mm</li>
                            <li>L2 = mm</li>
                            <li>L3 = mm</li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=4.6, h=1.6 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = mm</li>
                            <li>W2 = mm</li>
                            <li>W3 = mm</li>
                            <li>L1 =  mm</li>
                            <li>L2 = mm</li>
                            <li>L3 =  mm</li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=104842061&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1528257451&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=806187491&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=653134848&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1667072188&format=interactive"></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=4.6, h=0.508 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = mm</li>
                            <li>W2 = mm</li>
                            <li>W3 = mm</li>
                            <li>L1 = mm</li>
                            <li>L2 = mm</li>
                            <li>L3 = mm</li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1StyOkkWjyHALFwHzpOChnPWHm0SJjQRGRKlwlUP4YdQ/pubchart?oid=1097176060&format=interactive"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                </tr>
                 <!-- er=6.3, h=3.175 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = mm</li>
                            <li>W2 = mm</li>
                            <li>W3 = mm</li>
                            <li>L1 = mm</li>
                            <li>L2 = mm</li>
                            <li>L3 = mm</li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="h"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=6.3, h=1.6 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 =  mm</li>
                            <li>W2 =  mm</li>
                            <li>W3 = mm</li>
                            <li>L1 =  mm</li>
                            <li>L2 =  mm</li>
                            <li>L3 =  mm</li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1733515365&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=6.3, h=0.508 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = mm</li>
                            <li>W2 = mm</li>
                            <li>W3 = mm</li>
                            <li>L1 = mm</li>
                            <li>L2 = mm</li>
                            <li>L3 = mm</li>
                        </ul>
                    </td>
                    <td>
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src=""></iframe>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>


