<!DOCTYPE html>
  <head>
    <title>Summer Research [RF]</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
  </head>
  <body>
    <h1>Branch Line Coupler in 2.4GHz</h1>
    <div>
        <h2>Schematic -> Layout</h2>
        <img src="https://docs.google.com/drawings/d/1okAqA6pZY1jMK2NZHLw9HlkMxgflLBlPWlHa5j2dnww/pub?w=611&amp;h=315">
    </div>
    <div>
        <h2>S-Parameters</h2>
        <table>
            <thead>
                <tr>
                    <td>Metrics</td>
                    <td>S-parameters</td>
                    <td>S11, S13 [dB]</td>
                    <td>S12, S14 [dB]</td>
                    <td>S12, S14 [deg]</td>
                    <td>Ph. Diff [deg]</td>
                </tr>
            </thead>
            <!-- er=2.33, h=3.175 -->
            <tbody>
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = 8.86477 mm</li>
                            <li>W2 = 8.95724 mm</li>
                            <li>W3 = 13.3071 mm</li>
                            <li>L1 = 27.4297 mm</li>
                            <li>L2 = 16.7106 mm</li>
                            <li>L3 = 13.2754 mm</li>
                        </ul>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=631984622&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=28832574&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1953874799&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=115038608&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=2057347001&amp;format=image"></iframe>
                        </div>
                    </td>
                </tr>
               <!-- er=2.33, h=1.6 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = 4.87553 mm</li>
                            <li>W2 = 4.87235 mm</li>
                            <li>W3 = 7.84151 mm</li>
                            <li>L1 = 18.9904 mm</li>
                            <li>L2 = 20.1383 mm</li>
                            <li>L3 = 17.7042 mm</li>
                        </ul>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=396561800&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=2042591380&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1528130293&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1821565893&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1821565893&amp;format=image"></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=2.33, h=0.508 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = 1.53685 mm</li>
                            <li>W2 = 1.52411 mm</li>
                            <li>W3 = 2.5312 mm</li>
                            <li>L1 = 21.7756 mm</li>
                            <li>L2 = 21.5509 mm</li>
                            <li>L3 = 20.7093 mm</li>
                        </ul>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1572089428&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=2097021046&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1966312046&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=230416729&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1138618466&amp;format=image"></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=4.6, h=3.175 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = 5.98341 mm</li>
                            <li>W2 = 6.28829 mm</li>
                            <li>W3 = 9.39377 mm</li>
                            <li>L1 = 15.6908 mm</li>
                            <li>L2 = 13.2104 mm</li>
                            <li>L3 = 10.0516 mm</li>
                        </ul>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=423925329&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=612384932&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1165657445&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1453981900&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1375914389&amp;format=image"></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=4.6, h=1.6 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = 2.97914 mm</li>
                            <li>W2 = 2.94363 mm</li>
                            <li>W3 = ?? mm</li>
                            <li>L1 = 18.6771 mm</li>
                            <li>L2 = 15.8886 mm</li>
                            <li>L3 = 13.8126 mm</li>
                        </ul>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=104842061&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1528257451&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=806187491&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=653134848&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1667072188&amp;format=image"></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=4.6, h=0.508 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = 0.94746 mm</li>
                            <li>W2 = 0.929473 mm</li>
                            <li>W3 = 1.62655 mm</li>
                            <li>L1 = 17.2349 mm</li>
                            <li>L2 = 16.6642 mm</li>
                            <li>L3 = 15.6615 mm</li>
                        </ul>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1097176060&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=2140546336&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=518237448&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=217193675&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1280512705&amp;format=image"></iframe>
                        </div>
                    </td>
                </tr>
                 <!-- er=6.3, h=3.175 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = 4.63901 mm</li>
                            <li>W2 = 4.82888 mm</li>
                            <li>W3 = 7.45332 mm</li>
                            <li>L1 = 11.2838 mm</li>
                            <li>L2 = 12.2472 mm</li>
                            <li>L3 = 9.38976 mm</li>
                        </ul>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=2049284072&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1102940076&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1008945103&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1403989685&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1881727331&amp;format=image"></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=6.3, h=1.6 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = 2.34109 mm</li>
                            <li>W2 = 2.32728 mm</li>
                            <li>W3 = 4.06406 mm</li>
                            <li>L1 = 13.9315 mm</li>
                            <li>L2 = 14.1933 mm</li>
                            <li>L3 = 12.2315 mm</li>
                        </ul>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1733515365&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1461878841&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=2014149646&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1403989685&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1881727331&amp;format=image"></iframe>
                        </div>
                    </td>
                </tr>
                <!-- er=6.3, h=0.508 -->
                <tr>
                    <td class="paramtable">
                        <ul>
                            <li>W1 = 0.738041 mm</li>
                            <li>W2 = 0.723968 mm</li>
                            <li>W3 = 1.31235 mm</li>
                            <li>L1 = 14.429 mm</li>
                            <li>L2 = 14.7564 mm</li>
                            <li>L3 = 13.7347 mm</li>
                        </ul>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sparam"
                            width="800"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=910560023&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=646816735&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"amp;
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1341736473&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=504330433&amp;format=image"></iframe>
                        </div>
                    </td>
                    <td class="paramtable">
                        <div>
                            <iframe class="sother"
                            width="500"
                            height="400"
                            seamless frameborder="0"
                            scrolling="no"
                            src="https://docs.google.com/spreadsheets/d/1ACJcQ6Ba_D_WdWsmzReNYJNgUxWFCAqt5dJ-pFhTHJo/pubchart?oid=1881712498&amp;format=image"></iframe>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>


