<html>
  <head>
  </head>
  <body>
    <div>
        <iframe
        width="800"
        height="390"
        seamless frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1049799702&amp;format=interactive"></iframe>
    </div>
    <div>
        <iframe
        width="500"
        height="390"
        seamless frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1359892307&amp;format=interactive"></iframe>
    </div>
    <div>
        <iframe
        width="500"
        height="390"
        seamless frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1631125822&amp;format=interactive"></iframe>
    </div>
    <div>
        <iframe
        width="500"
        height="390"
        seamless frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=532111622&amp;format=interactive"></iframe>
    </div>
    <div>
        <iframe
        width="493"
        height="393"
        seamless frameborder="0"
        scrolling="no"
        src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1677360437&amp;format=interactive"></iframe>
    </div>
  </body>
</html>


