<!DOCTYPE html>
  <head>
    <title>Summer Research [RF]</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
  </head>
  <body>
    <h1>Hello World!</h1>
    <table>
        <!-- er=2.33, h=3.175 -->
        <tr>
            <td>
                <div>
                    <iframe class="sparam"
                    width="800"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1049799702&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1359892307&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1631125822&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=532111622&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1677360437&amp;format=interactive"></iframe>
                </div>
            </td>
        </tr>
        <!-- er=2.33, h=1.6 -->
        <tr>
            <td>
                <div>
                    <iframe class="sparam"
                    width="800"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=679805851&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1884803535&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"amp;
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1830759916&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1245240943&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=36510529&amp;format=interactive"></iframe>
                </div>
            </td>
        </tr>
        <!-- er=2.33, h=0.508 -->
        <tr>
            <td>
                <div>
                    <iframe class="sparam"
                    width="800"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1860473560&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1324725939&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"amp;
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1100703456&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=140859493&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=1525546506&amp;format=interactive"></iframe>
                </div>
            </td>
        </tr>
        <!-- er=4.6, h=3.175 -->
        <tr>
            <td>
                <div>
                    <iframe class="sparam"
                    width="800"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=933325446&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=260414451&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"amp;
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=2129049695&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=450006377&amp;format=interactive"></iframe>
                </div>
            </td>
            <td>
                <div>
                    <iframe class="sother"
                    width="500"
                    height="400"
                    seamless frameborder="0"
                    scrolling="no"
                    src="https://docs.google.com/spreadsheets/d/1kDyYacL2O9oQ-6IhU9tL-mWj_JGO3seWo7OHcTdGfM4/pubchart?oid=566236063&amp;format=interactive"></iframe>
                </div>
            </td>
        </tr>
    </table>







  </body>
</html>


