body {
    background-color: #444444;
    color: #FFFFFF;
    font-family: verdana;
    font-style: normal;
}

label {
    font-family: ;
}

.thin-black-border {
    border-color: black;
    border-width: 5px;
    border-style: dotted;
}
div {
    margin: 0px 10px 10px 0px ;
}

table, th, td {
    border: 1px solid black;
    table-layout: fixed;
    white-space:nowrap;
    font-style: normal;
}
thead {
    background-color: white;
    font-size: 20px;
    font-style: bold;
}

td.paramtable {
    ㅃbackground-color: green;
    color: white;
    table-layout: fixed;
    white-space: nowrap;
}

.row-met {
    width: 20%;
}

.row-sparam {
    width: 50%;
}

.row-s11s13 {

}

.row-s12s14 {

}